/* Your styles here */
body{
    margin: 0;
    background-color: #e9edee;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer{
    background-color: #232f3f;
}

header img{
    width: 150px;
    padding: 1rem 1rem;
}

nav{
    background-color: #364759;
    padding: 0.5rem 0 0.5rem 0;
}

ul li{
    display: inline;
    margin: 1rem 1rem;
    color: white;
}

nav ul li a{
    color: white;
    text-decoration: none; 
}

main{
    margin: 2rem 3rem;
    text-align: center;
}

.giftcard{
    background-color: #f56600;
    color: white;
    margin: 1.5rem 0;
    padding: 0.5rem 0;
}

.promoarticle{
    background-image: url(/assets/img/bg-image.png);
    height: 20vh;
    margin-bottom: 1.5rem;
}

.promoarticle h1, h2{
    padding-top: 5vh;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

h2{
    padding-top: 3vh;
    font-size: 18px;
}

.article2{
    background-color: #ffffff;
    height: 55vh;
    margin-bottom: 1.5rem;

}

.writings, .writings2, .writings3{
    text-align: left;
    padding: 2rem 2rem 1rem 3rem;
    font-size: 20px;
}

.writings2, .writings3{
    text-align: center;
    padding: 1rem 0rem 3rem 0rem;
    
}



.shopLink{
    padding-left: 1rem;
    font-size: 15px;
    color: #166871;
    font-weight: bold;
    text-decoration: none;
}


.cards .img1, .img2, .img3, .img4{
    display: inline-block;
    width: 20%;
    height: 40vh;
    background-position: bottom;
    background-size: cover;
    margin: 1.5rem;
    border-radius: 10%;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.img1{
    background-image: url(/assets/img/img_1.jpg);
}

.img2{
    background-image: url(/assets/img/img_2.jpg);
}

.img3{
    background-image: url(/assets/img/img_3.jpg);
}

.img4{
    background-image: url(/assets/img/img_4.jpg);
}

.backgroudimage3, .backgroudimage4{
    background-image: url(/assets/img/img_9.png);
    height: 55vh;
    width: 100%;
    box-sizing: border-box;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat; 
    
}

.backgroudimage4{
    background-image: url(/assets/img/img_10.png);
}

footer{
    height: 25vh;
    text-align: center;
}

.backToTop{
    background-color: #364759;
    padding: 1em 0;
    font-size: 16px;
    color: white;
}

.backToTop a:link,
.backToTop a:visited{
    color: white;
    font-weight: bold;
}

.finalLogo{
    width: 200px;
    padding-top: 5vh;
}
